<div>
    <div class="absolute inset-0">
        <img src="/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover" />
    </div>

    <div
        class="relative flex min-h-screen items-center justify-center bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16"
    >
        <img src="/assets/images/auth/coming-soon-object1.png" alt="image" class="absolute left-0 top-1/2 h-full max-h-[893px] -translate-y-1/2" />
        <img src="/assets/images/auth/coming-soon-object2.png" alt="image" class="absolute left-24 top-0 h-40 md:left-[30%]" />
        <img src="/assets/images/auth/coming-soon-object2.png" alt="image" class="absolute right-24 bottom-0 h-40 md:right-[30%] rotate-180" />
        <img src="/assets/images/auth/coming-soon-object3.png" alt="image" class="absolute right-0 top-0 h-[300px]" />
        <div
            class="relative w-full max-w-[870px] rounded-md p-2 bg-primary/20"
        >
            <div class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[500px]">
                <div class="mx-auto w-full max-w-[440px]">
                    <div class="mb-10">
                        <h1 class="text-3xl font-extrabold uppercase !leading-snug text-primary md:text-4xl">Cadastro</h1>
                        <p class="text-base font-bold leading-normal text-white-dark">Informe seus dados para criar uma conta</p>
                    </div>
                    <form class="space-y-5 dark:text-white my-10" [formGroup]="form" (submit)="register()">
                        <div>
                            <label for="Name">Nome</label>
                            <div class="relative text-white-dark">
                                <input formControlName="name" id="Name" type="text" placeholder="Digite seu nome" class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-user [fill]="false" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label for="Email">Email</label>
                            <div class="relative text-white-dark">
                                <input formControlName="email" id="Email" type="email" placeholder="Digite o Email" class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-mail [fill]="false" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label for="Password">Senha</label>
                            <div class="relative text-white-dark">
                                <input formControlName="password" id="Password" type="password" placeholder="Digite a Senha" class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-lock-dots [fill]="false" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label for="ConfirmPassword">Confirmar Senha</label>
                            <div class="relative text-white-dark">
                                <input formControlName="confirmPassword" id="ConfirmPassword" type="password" placeholder="Confirme a Senha" class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-lock-dots [fill]="false" />
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn bg-primary text-white !mt-6 w-full border-0 uppercase">
                            Cadastrar
                        </button>
                    </form>

                    <div class="text-center dark:text-white">
                        Já tem uma conta?
                        <a routerLink="/sign-in" class="cursor-pointer text-primary underline transition hover:text-black dark:hover:text-white">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
